# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv*
venv*
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Build/dist
build/
dist/

# SQL temp files
*.tmp

# Terraform
.terraform/
*.tfstate